@font-face {
  font-family: "Avenir Next", sans-serif;
  src: url(fonts/Avenir Next.ttc);
}

@font-face {
  font-family: "Bebas Neue", sans-serif;
  src: url(fonts/Bebas Neue.ttf);
}

* {
  font-family: "Avenir Next", sans-serif;
  font-weight: normal;
  color: rgb(56, 56, 56);
}

body {
  margin: 0px;
}

body img {
  width: 300px;
}

h1 {
  font-size: 4em;
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
}

h2 {
  font-size: 2em;
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
}

h3 {
  font-size: 2em;
  margin: 0;
  font-family: "Avenir Next", sans-serif;
  font-weight: 500;
  font-variant: small-caps;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  cursor: pointer;
  color: rgb(0, 166, 210);
  font-weight: 500;
}

/* First container - header */

.container_1 {
  display: grid;
  grid-template-columns: 1fr 300px 300px 1fr;
  grid-column-gap: 50px;
  /*background-image: url("photos/background.png");*/
  background-size: cover;
  height: 700px;
}

#item_1 {
  color: black;
  grid-column: 2;
  align-self: flex-end;
  justify-self: started;
  margin-bottom: 100px;
}

#item_2 {
  color: black;
  grid-column: 3;
  width: 300px;
  align-self: flex-end;
  text-align: left;
  margin-bottom: 100px;
  font-size: 1em;
}

#item_2 p {
  margin: 0;
}

/* Second container */

.container_2 {
  display: grid;
  grid-template-columns: 1fr 300px 300px 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 20px;
  grid-template-rows: 200px 300px 100px 300px 100px 100px 300px 100px 300px 100px 300px 100px 300px 100px 300px 100px 100px 300px 100px 50px 50px 50px;
}

#portfolio_header {
  grid-column: 2;
  grid-row: 1;
  align-self: flex-end;
}

.project_button {
  float: right;
}

/* Hedgehog */

#hedgehog_photo {
  grid-column: 2;
  grid-row: 2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
}

#hedgehog_brief {
  grid-column: 3;
  grid-row: 2;
  width: 300px;
}

#hedgehog_brief h3 {
  font-size: 1.2em;
}

#hedgehog_brief p {
  text-align: left;
  font-size: 1em;
}

/* Effly Calendar */

#effly_photo {
  grid-column: 2;
  grid-row: 4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
}

#effly_brief {
  grid-column: 3;
  grid-row: 4;
  width: 300px;
}

#effly_brief h3 {
  font-size: 1.2em;
}

#effly_brief p {
  text-align: left;
  font-size: 1em;
}

/* Details */

#introduction_brief {
  grid-column: 2;
  grid-row: 6;
  align-self: flex-end;
}

/* Currency Exchange */

#currency_photo {
  grid-column: 2;
  grid-row: 7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
}

#currency_brief {
  grid-column: 3;
  grid-row: 7;
  width: 300px;
}

#currency_brief h3 {
  font-size: 1.2em;
}

#currency_brief p {
  text-align: left;
  font-size: 1em;
}

/* Company family */

#company_photo {
  grid-column: 2;
  grid-row: 9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
}

#company_brief {
  grid-column: 3;
  grid-row: 9;
  width: 300px;
}

#company_brief h3 {
  font-size: 1.2em;
}

#company_brief p {
  text-align: left;
  font-size: 1em;
}

/* Fishing Clash */

#fishing_photo {
  grid-column: 2;
  grid-row: 11;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
}

#fishing_brief {
  grid-column: 3;
  grid-row: 11;
  width: 300px;
}

#fishing_brief h3 {
  font-size: 1.2em;
}

#fishing_brief p {
  text-align: left;
  font-size: 1em;
}

/* Itaka App */

#itaka_photo {
  grid-column: 2;
  grid-row: 13;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
}

#itaka_brief {
  grid-column: 3;
  grid-row: 13;
  width: 300px;
}

#itaka_brief h3 {
  font-size: 1.2em;
}

#itaka_brief p {
  text-align: left;
  font-size: 1em;
}

/* Redesign Process */

#redesign_photo {
  grid-column: 2;
  grid-row: 15;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
}

#redesign_brief {
  grid-column: 3;
  grid-row: 15;
  width: 300px;
}

#redesign_brief h3 {
  font-size: 1.2em;
}

#redesign_brief p {
  text-align: left;
  font-size: 1em;
}

/* Details Ahoy */

#introduction_ahoy_brief {
  grid-column: 2;
  grid-row: 17;
  align-self: flex-end;
}

/* Ahoy */

#ahoy_photo {
  grid-column: 2;
  grid-row: 18;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
}

#ahoy_brief {
  grid-column: 3;
  grid-row: 18;
  width: 300px;
}

#ahoy_brief h3 {
  font-size: 1.2em;
}

#ahoy_brief p {
  text-align: left;
  font-size: 1em;
}

/* Contact */

#contact_header {
  grid-column: 2;
  grid-row: 20;
  align-self: flex-end;
}

#contact_brief {
  grid-column: 2;
  grid-row: 21;
  font-size: 1em;
  font-weight: normal;
}

.behance {
  width: 40px;
  grid-column: 2;
  grid-row: 22;
}

/* Modal box */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_content {
  background-color: white;
  margin: 15% auto;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  right: 10%;
  padding: 15px;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal_content img {
  width: 100%;
  display: block;
}

.more_btn {
  font-size: 1em;
  font-weight: 500;
  font-variant: small-caps;
  cursor: pointer;
  float: right;
  color: rgb(0, 166, 210);
}

.middle {
  width: 90%;
}

/* Footer */

#footer {
  text-align: center;
  margin-top: 100px;
  font-size: 12px;
}
